.creations {
    @include vertical-align(center, center);
    width: 87%;
    max-width: 84rem;
    margin: 6rem auto;

    @media screen and (min-width: $tablet-size) {
        display: grid;
        grid-template: 3rem 1fr / repeat(3, 1fr);
        grid-template-areas: 
            'title . button'
            'container container container';
    }
       
    &__title {
        grid-area: title;
        text-align: center;
        justify-self: start;
        margin: 0;

        @media screen and (min-width: $tablet-size) {
            font-size: 3rem;
        }
    }

    &__container {
        display: grid;
        grid-area: container;
        row-gap: 1.6rem;
        grid-template: repeat(8, 120px) / 1fr;
        grid-template-areas: 
            'earth'
            'arcade'
            'soccer'
            'the-grid'
            'up-above'
            'borealis'
            'curiosity'
            'fisheye';
        width: 100%;
        max-width: 28rem;
        margin-top: 3.6rem;
        margin-bottom: 2.26rem;

        @media screen and (min-width: $tablet-size) {
            gap: 2rem;
            grid-template: repeat(2, 30rem) / repeat(4, 1fr);
            grid-template-areas: 
                'earth arcade soccer the-grid'
                'up-above borealis curiosity fisheye';
            max-width: none;
        }
    }

    &__text {
        position: absolute;
        left: 1em;
        bottom: 1.6rem;
        width: 35%;
        margin: 0;

        @media screen and (min-width: $desktop-size) {
            width: 50%;
            font-size: 1.5rem;
        }
    }

    .button {
        grid-area: button;
        border: 1px solid $black;
        margin: 0 auto;
        padding: 1rem 2.87em;
        background-color: transparent;
        font-family: 'Alata', sans-serif;
        letter-spacing: 5px;
        font-weight: 500;
        cursor: pointer;

        &:hover, &:active {
            color: $white;
            background-color: $black;
        }

        @media screen and (min-width: $tablet-size) {
            display: block; 
            margin: 0;
            justify-self: end;
        }
    }
}

//Cards
#earth {
    grid-area: earth;
    @include set-background('earth');
    @extend %card;

    @media screen and (min-width: $tablet-size) {
        @include set-background('earth', 'desktop');
    }
}

#arcade {
    grid-area: arcade;
    @include set-background('arcade');
    @extend %card;

    @media screen and (min-width: $tablet-size) {
        @include set-background('arcade', 'desktop');
    }
}

#soccer {
    grid-area: soccer;
    @include set-background('soccer');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('soccer', 'desktop');
    }
}

#grid {
    grid-area: the-grid;
    @include set-background('grid');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('grid', 'desktop');
    }
}

#up-above {
    grid-area: up-above;
    @include set-background('above');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('above', 'desktop');
    }
}

#borealis {
    grid-area: borealis;
    @include set-background('borealis');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('borealis', 'desktop');
    }
}

#curiosity {
    grid-area: curiosity;
    @include set-background('curiosity');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('curiosity', 'desktop');
    }
}

#fisheye {
    grid-area: fisheye;
    @include set-background('fisheye');
    @extend %card;
    @media screen and (min-width: $tablet-size) {
        @include set-background('fisheye', 'desktop');
    }
}