.footer {
    @include vertical-align(center, center);
    background-color: $black;
    color: $white;
    padding-bottom: 2rem;

    &__logo {
        margin-top: 3.73rem;
        margin-bottom: 1.5rem;
    }

    &__ul {
        margin-bottom: 1.8rem;
    }

    &__li {
        margin: 1em auto;
        text-align: center;
    }

    &__sm-container {
        margin: 1.6rem auto;
    }

    &__sm {
        margin: 0 0.4rem;
    }

    &__copyright {
        color: $dark-gray;
    }

    .attribution {
        margin: 2rem;
        text-align: center;
    }
}