#earth, #arcade, #soccer, #grid, #up-above, #borealis, #curiosity, #fisheye {
  width: 100%;
  min-width: 18rem;
  min-height: 8rem;
  margin: 0.83rem 0;
  position: relative;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
  background-blend-mode: overlay;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
  height: 100%;
}

@media screen and (max-width: 370px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.86rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  min-height: 43rem;
  display: flow-root;
}

.header__title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
  color: white;
  margin: 10.5rem 1.46rem;
  border: 1px solid white;
  padding: 1.8rem;
  max-width: 28.53rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.73rem 1.53rem;
}

.nav__logo {
  max-width: 9.6rem;
}

.nav__hamburger {
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: black;
  color: white;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  overflow: hidden;
}

.menu--show {
  width: 100vw;
}

.menu__close-icon {
  cursor: pointer;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.6rem 1.6rem;
}

.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 1.6rem;
  opacity: 0;
}

.menu__ul--appear {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__li {
  margin: 1rem 0;
}

.menu__link {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6.4rem 1.6rem;
}

.about__img {
  max-width: 100%;
}

.about__text {
  margin: 1.6rem;
}

.about__title {
  text-align: center;
}

.about__paragraph {
  color: #8c8c8c;
  text-align: center;
  line-height: 1.5;
}

.creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.5rem;
}

.creations__title {
  text-align: center;
}

.creations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87%;
  min-width: 18rem;
  margin: 1.66rem;
}

.creations__text {
  position: absolute;
  left: 1rem;
  bottom: 1.6rem;
  margin: 0;
  width: 35%;
}

.creations .button {
  font-family: 'Alata', sans-serif;
  padding: 1rem 2.53rem;
  letter-spacing: 5px;
  font-weight: 500;
  border: 1px solid black;
  margin: 0 auto;
  cursor: pointer;
}

#earth {
  background: url("../images/mobile/image-deep-earth.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-deep-earth.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#arcade {
  background: url("../images/mobile/image-night-arcade.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-night-arcade.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#soccer {
  background: url("../images/mobile/image-soccer-team.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-soccer-team.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#grid {
  background: url("../images/mobile/image-grid.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-grid.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#up-above {
  background: url("../images/mobile/image-from-above.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-from-above.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#borealis {
  background: url("../images/mobile/image-pocket-borealis.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-pocket-borealis.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#curiosity {
  background: url("../images/mobile/image-curiosity.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-curiosity.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

#fisheye {
  background: url("../images/mobile/image-fisheye.jpg"), -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background: url("../images/mobile/image-fisheye.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  padding-bottom: 2rem;
}

.footer__logo {
  margin-top: 3.73rem;
  margin-bottom: 1.5rem;
}

.footer__ul {
  margin-bottom: 1.8rem;
}

.footer__li {
  margin: 1em auto;
  text-align: center;
}

.footer__sm-container {
  margin: 1.6rem auto;
}

.footer__sm {
  margin: 0 0.4rem;
}

.footer__copyright {
  color: #8c8c8c;
}

.footer .attribution {
  margin: 2rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */